@charset "utf-8";
/* CSS Document */

/*Color Palette
#9b262a - RED
#d56f69 - LIGHT CORAL
#ce4b51 - DARK CORAL
#304a95 - BLUE
#353435 - DARK GRAY
#e4e5e5 - LIGHT GRAY
*/

/*Global Styles*/

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: Montagna LTD;
  margin: 0;
  color: #353435;
}
h1, h2 {
  font-family: Montagna LTD, cursive;
}

h1 {
  font-size: 50px;
  text-shadow: -2px 2px 3px #DEA6FF;
}

h2 {
  font-size: 30px;
  margin-top: 0;
}

h3 {
  margin: 0;
}

a {
  color: #e4e5e5;
}

a:hover {
  text-decoration: none;
  color: #e4e5e5;
}

.content-wrap {
  margin: 0 auto;
  padding: 60px 50px;
  overflow: auto;
}

.col-narrow {
    width: 40%;
    float: left;
  }
  .col-narrow h2 {
    line-height: 1.25;
  }
  .col-narrow p ul{
    padding-top: -20px;
  }
  .col-wide {
    width: 60%;
    float: left;
    padding-left: 20px;
    margin-bottom: 15px;
  }
  .col-wide p {
    margin-top: 25px;
  }
	a {
		font-size: 16px;
	}

.uppercase {
  text-transform: uppercase;
  margin-top: 10px;
}
.tech-skills {
  margin-top: 50px;
}

header .btn {
  text-decoration: none;
  background: #DEA6FF;
  color: #34252F;
  padding: 10px;
  display: inline-block;
}

header .btn:hover {
  text-decoration: none;
  background: #3B5249;
  color: #BEC5AD;
  padding: 10px;
  display: inline-block;
}

.background {
	background-image: url(../images/FlowerPattern.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/*Header and footer styles
----------------------------------*/
header, footer {
  color: #353435;
}

/* Header */

header {
	margin-top: -50px;
	position: static;
}

#gradient {
	background-image: linear-gradient(to left, rgba(48,74,149,0), rgba(48,74,149,1)), url(../images/Header.jpg);
 	width: 100%;	
	height: 325px;
	background-size: cover;
	overflow: hidden;
	position: static;
}
	

.clearfix {
	overflow: auto;
}
.content-wrap .header-img2 {
  float: left;
	margin-top: 130px;
	margin-left: 0px;
	
}

/* Navigation */

.topnav {
	position: static;
	width: 100%;
	margin-top: 0px;
	overflow: hidden;
  background-color: #304a95;
}

.topnav a {
  float: right;
  display: block;
  color: #e4e5e5;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
	text-transform: uppercase;
}

.active {
  background-color: #4CAF50;
  color: #e4e5e5;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: right;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;    
  border: none;
  outline: none;
  color: #e4e5e5;
  background-color: #304a95;
  font-family: inherit;
  margin-top: -1px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #9b262a;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: #e4e5e5;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
	text-transform: uppercase;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #d56f69;
  color: #e4e5e5;
}

.dropdown-content a:hover {
  background-color: #d56f69;
  color: #e4e5e5;
}

.dropdown:hover .dropdown-content {
  display: block;
	width: 250px;
}






/* Media Queries */

@media (min-width: 769px) {
  .col-narrow {
    width: 100%;
    float: left;
  }
  .col-narrow h2 {
    line-height: 1.25;
  }
  .col-narrow p ul{
    padding-top: -20px;
  }
  .col-wide {
    width: 100%;
    float: left;
    padding-left: 20px;
    margin-bottom: 15px;
  }
  .col-wide p {
    margin-top: 25px;
  }
	a {
		font-size: 16px;
	}
	
	.col-footer {
		width: 100%;
	}
}
@media (max-width: 768px) {
	
  header {
    text-align: center;
  }
#gradient {
	background-image: linear-gradient(to left, rgba(48,74,149,0), rgba(48,74,149,0.9)), url(../images/Header.jpg);
 	width: 100%;	
	height: 200px;
	background-size: cover;
	float: left;
	overflow: hidden;
  }

.content-wrap {
  margin: 0 auto;
  padding: 60px 50px;
  overflow: auto;
}	
	
.content-wrap .content-wrap-svc {
  margin: 0 auto;
  padding: 60px 0px;
  overflow: hidden;
}
	
.content-wrap .header-img2 {
  float: left;
	margin-top: 65px;
	margin-left: -25px;
	padding: 0;
	width: 150px;
	height: 53px;
}
	
	#logo {
		display: none;
	}

a {
		font-size: 14px;
	}
	
h1 {
    font-size: 45px;
    text-shadow: -1.5px 1.5px 2px #DEA6FF;
  }

  h2 {
    font-size: 24px;
    margin-top: 0;
  }
  header h1, header h2 {
    padding-left: 225px;
  }

li a, .dropbtn {
  display: inline-block;
  color: #e4e5e5;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
}
#contact-social a {
  background: #304a95;
  color: #e4e5e5;
  padding: 20px;
	margin: 5px;
  border-radius: 15px;
  display: inline-block;
	float: left;
  	
}
#contact-social a:hover {
  background: #9b262a;
  color: #e4e5e5;
  padding: 20px;
	margin: 5px;
  border-radius: 15px;
  display: inline-block;
	float: left;
}

#contact-info a {
  background: #9b262a;
  color: #e4e5e5;
  padding: 20px;
  border-radius: 15px;
  display: inline-block;
	text-decoration: none;
	float: center;
	margin: 15px 50px 0px 50px;
	font-size: 12px;
  	
}
#contact-info a:hover {
  background: #d56f69;
  color: #e4e5e5;
  padding: 20px;
  border-radius: 15px;
  display: inline-block;
	float: center;
	font-size: 12px;
}
 #email {
	 display: none;
	}
	
.content-wrap p {
	float: right;
	margin-top: 30px;
	
}

	
.flex-container-svc {
	margin-top: 25px;
	display: flex;
	flex-direction: row;
	width: 50%;
	overflow: hidden;
}

.flex-container-svc .services-col-1 {
	margin-top: 25px;
	width: 15%;
}

.flex-container-svc .services-col-2 {
	margin-bottom: 50px; 
	width: 15%;
}

	header {
	margin-top: 0px;
	}

	
.img-container-33 {
  float: left;
  width: 100%;
  padding: 5px;
}

.img-container-50 {
  float: left;
  width: 100%;
  margin-left: 150px;
}	


}

@media screen and (max-width: 768px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
	  font-size: 13px;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
	
	
}


/*About*/

.about {
	border-top-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-right-style: none;
	border-top-width: 10px;
	border-bottom-width: 10px;
	border-color: #9b262a;
	width: 100%;
	clear: both;
	padding-top: 0px;
	
}

.about h2 {
	text-transform: uppercase;
}

/*Services*/

.services {
	border-top-style: solid;
	border-bottom-style: solid;
	border-left-style: none;
	border-right-style: none;
	border-top-width: 10px;
	border-bottom-width: 10px;
	border-color: #9b262a;
	width: 100%;
}

.services h2 {
	text-transform: uppercase;
}

.flex-container-svc {
	margin-top: 50px;
	display: flex;
	flex-direction: row;
	width: 100%;
	overflow: hidden;
}

.flex-container-svc .services-col-1 {
	margin-top: 25px;
	margin-left: -20px;
	width: 30%;

}

.flex-container-svc .services-col-2 {
	margin-bottom: 50px; 
	margin-left: 0px;
	width: 25%;
}

figure img {
	opacity: 1.0;
 	 filter: alpha(opacity=100);	
	margin: 0px;
	padding: 0px;
	align-items: center;
}

figure img:hover {
	opacity: 0.5;
 	 filter: alpha(opacity=50);
	margin: 0px;
	padding: 0px;
}


figcaption {
	color: #353435;
	font-size: 22px;
	text-align: center;
	margin-top: 10px;
}

.content-wrap-svc {
  margin: 5px;
  overflow: auto;
}



/*Portfolio*/

.portfolio {
	border-top-style: solid;
	border-bottom-style: solid;
	border-left-style: none;
	border-right-style: none;
	border-top-width: 10px;
	border-bottom-width: 10px;
	border-color: #9b262a;
	width: 100%;
}

.portfolio h2, .portfolio h3 {
	text-transform: uppercase;
}

.flex-container-port {
	margin: 25px 0px;
	display: flex;
	flex-direction: row;
}

.portfolio .port-col {
	border: 1px solid #9b262a;
	width: 50%;
}

.port-col h3 {
	margin: 20px;
}


/* Footer */


footer {
	height: 200px;
	padding-top: 0px;
}

.flex-container2 {
	margin-left: 20px;
	display: flex;
	flex-direction: row;
}

#gradient2 {
	background-image: linear-gradient(to right, rgba(48,74,149,0), rgba(48,74,149,1));
}

.col-footer {
		width: 32%;
	float: left;
	}

#contact-social a {
  background: #304a95;
  color: #e4e5e5;
  padding: 20px;
	margin: 0px;
  border-radius: 15px;
  display: inline-block;
	float: center;
}

#contact-social a:hover {
  background: #9b262a;
  color: #e4e5e5;
  padding: 20px;
	margin: 5px;
  border-radius: 15px;
  display: inline-block;
	float: center;
}

#contact-info a {
  background: #9b262a;
  color: #e4e5e5;
  padding: 20px;
  border-radius: 15px;
  display: inline-block;
	text-decoration: none;
	float: center;
	margin: 15px 50px 0px 50px;
  	
}
#contact-info a:hover {
  background: #d56f69;
  color: #e4e5e5;
  padding: 20px;
  border-radius: 15px;
  display: inline-block;
	float: center;
}

footer p {
	margin-top: 40px;
	margin-left: 40px;
	color: #e4e5e5;
}

#gradient2 h2 {
	float: left;
	margin-top: 20px;
	color: #353435;
	font-size: 18px;
	padding: 0;
}

#contact-social .button-a {
	margin-left: 50px;
}
#contact-social .button-a:hover {
	margin-left: 50px;
}


#contact-social .button-a, #contact-social .button-b, #contact-social .button-c, #contact-social .button-d, #contact-social .button-e {
	margin-top: 20px;
}

#contact-social .button-a:hover, #contact-social .button-b:hover, #contact-social .button-c:hover, #contact-social .button-d:hover, #contact-social .button-e:hover {
	margin-top: 20px;
}